* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: aliceblue;
  width: 90vw;
  height: 90vh;
  margin: 2.5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

.div1 {
  background-color: #1e293b;
  grid-column-start: 1;
  grid-column-end: -1;
}

.div2 {
  background-color: #991b1b;
}
.div3 {
  background-color: #86198f;
}
.div4 {
  background-color: #3f6212;
}
